* {
    box-sizing: border-box;
}

body {
    background: #e9e9e9;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    font-family: Arial, sans-serif;
}
.clearfix::after {
    content: '';
    display: table;
    width: 100%;
    clear:both;
}
.container {
    max-width: 1000px;
    margin: 25px;
}

.bar {
    display: none;
}

.header {
    display: block;
    width: 940px;
    background: #52bbde;
    margin: 20px 0 0 25px;
    border-radius: 5px;
}
  .menu_item:first-child a:before {
    position: absolute;
    left: 108px;
    top: 19px;
    content: ""; 
    height: 30px;
    width: 1px;
    background: #44a3bf;
  }

  .menu_item:first-child a:after {
    position: absolute;
    left: 109px;
    top: 19px;
    content: ""; 
    height: 30px;
    width: 1px;
    background: #75c9e5;
  }
  .menu_item:last-child a:before {
    position: absolute;
    left: -2px;
    top: 19px;
    content: ""; 
    height: 30px;
    width: 1px;
    background: #44a3bf;
  }

  .menu_item:last-child a:after {
    position: absolute;
    left: -1px;
    top: 19px;
    content: ""; 
    height: 30px;
    width: 1px;
    background: #75c9e5;
  }

.menu {
    float: left;
}

.menu ul {
    margin: 0;
    padding: 0;
}


.menu_item {
   display: inline-block;
   position: relative;
}

.menu_link {
     padding-right: 50px;
    color: #fff;
    display: inline-block;
    font-size:24px;
    font-style: 'Open Sans', sans-serif;
    font-weight: 100;
    padding:15px 25px 14px 19px;
    text-decoration: none;
}

.menu_link:hover {
    background: #4292ad;
    color: #fff;
}

.menu_link:first-child  {
    margin-right:25px; 
}

 .contact {
        margin-left: 210px;
 }
 .triangle {
     position: relative;
     top:17px;
     left: 10px;
     width: 8px;
     height: 6px;
     border-style: solid;
     border-width: 6px 4px 0 4px;
     border-color: #ffffff transparent transparent transparent;
 }

.menu-list {
    list-style: none;
    padding:0;
    margin:0;
}

.submenu {
    position: absolute;
    top: -500%;
    left: 0px;
    width: 250px;
    background: #4292ad;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 0.5;
}

.submenu_link {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
}
.submenu_link:hover {
     background: #61a5bc;
    color: #000;
}


.menu_link:hover + .submenu, .submenu:hover {
   opacity: 1;
   height: auto;
   visibility: visible;
   bottom: auto;
   top: 100%;
}

.menu_item:first-child .submenu{
    left: 0;
    right: auto;
}