@media screen and (max-width: 768px) {
    img {
    width: 50%;
    height: 50%;
    }
    .header {
        width: 44%;
        border-radius: 0px;
    }
    .menu {
      width: 70%;
   }

   .menu_item {
       width: 70%;
       height: 0px;
   }
   .menu_link {
       font-size:12px;
   }
   .triangle {
       position: relative;
     top:10px;
   }
   .menu_item:first-child a::before{
       display:none;
   }
   .menu_item:first-child a::after{
       display:none;
   }
   .menu_item:last-child a::before{
       display:none;
   }
   .menu_item:last-child a::after{
       display:none;
   }
   .contact {
       margin: 0 auto;
   }
   .menu_link {
    position: absolute;
    top: -500%;
    left: 20px;
    font-size:12px;
    width: 250px;
    background: #4292ad;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 0.5;
   }
   .bar {
       display: inline-block;
       background: #fff no-repeat url(../img/little-bar.png) 0 -10%;
       width: 44%;
       height: 18px;
       cursor: pointer;
       position: absolute;
       top: 0px;
       left: 25px;
   }
   
   .bar:hover + .menu_link a, .menu_link a:hover{
   opacity: 1;
   height: auto;
   font-size:12px;
   visibility: visible;
   bottom: auto;
   width: 50%;
   top: 300px;
}
}

@media screen and (max-width: 320px)  {
   .header {
       width: 100%;
   }
   .menu {
      width: 100%;
   }
   img {
       width: 100%;
       height: 100%;
   }
}  