@media print  {
    .col:last-child {
        display: none;
    }
}

@media screen and (min-width: 540px)  {
    .col {
        width: 50%;
    }
}

@media screen and (min-width: 768px)  {
    .col {
        width: 50%;
    }
    .container {
        background: none;
    }
    body {
        line-height: 1.4;
    }
}

@media screen and (min-width: 992px)  {
    .col {
        width: 25%;
    }
}

@media screen and (min-width: 1200px)  {
    .col {
        width: 20%;
    }
}   
