* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: arial, sans-serif;
	margin: 0;
	background: #f5f5f5;
	width: 100%;
	color: #525252;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.container {
	max-width: 800px;
	margin: 0 auto;
}
.header {
	text-align: center;
	background: #e3e3e3;
	padding-top: 35px;
	margin-bottom: 30px;
	padding-bottom: 35px;
}
.logo {
	text-decoration: none;
	font-size: 35px;
	color: #333;
	font-weight: 700;
	margin-bottom: 40px;
	display: inline-block;
	background: url(../img/logo.png) no-repeat 50% 0;
	padding-top: 37px;
	
}
.header_menu ul {
	list-style: none;
}
.menu_item {
	display: inline-block;
	margin: 0 15px;
}
.menu_item a {
	text-decoration: none;
	font-size: 15px;
	color: #3b4350;
	font-weight: bold;
	text-transform: uppercase;
}
.promo {
    padding-bottom: 25px;
}

.promo_main {
	clear: both;
    overflow: hidden;
    background: #4caf50;
    width: 800px;
}

.promo_item {
   text-align: center;
   float:left;
   width: 50%;
}
.left {
	 padding: 58px 35px 0 0;
}
.promo_item h2 {
	list-style: none;
	margin-bottom: 20px;

}
.promo_item a {
	text-decoration: none;
	display: inline-block;
   text-align: center;
   width: 100%;
   font-size: 36px;
   font-weight: normal;
   color: #fff;

}
.promo_item small {
   font-size: 14px;
   font-weight: normal;
   color: #fff;
}
.promo_item p {
	line-height: 25px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	padding: 0px 30px;
}
.image {
	background: #949494;
	display: block;
	width: 100% ;
}
.about {
	background: #e3e3e3;
   text-align: center;
}
.about_header {
	display: inline-block;
	line-height: 35px;
	padding-top: 50px;
	padding-bottom: 20px;
}


.about_header a {
	text-decoration: none;
	font-size: 35px;
	color: #3b4350;
	font-weight: normal; 
	
}
.about_header span {
	color: #525252;
	font-size: 35px;
	font-weight: normal; 
	
}
.about_text {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	line-height: 30px;
	width: 70%;
	margin: 0 auto;
}
.items {
	padding-top: 60px;
	padding-bottom: 60px;
    overflow: hidden;		
    width: 800px;
}
.about_web {
	width: 45%;
	color: #525252;
    margin-bottom: 20px;
}
.about_left {
	float: left;
}
.about_right {
	float:right;
}
.item_header {
	color: #525252;
	font-size: 35px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

.item_header a {
	margin-bottom: 20px;
}

.items p {
	font-family: 16px;
	color: #525252;
	width: 200
	margin: 0 auto;
	font-weight: normal;
}
.round {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	text-align: center;
	border-radius: 50px 50px;
}
.ic-certificate {
    background: #4caf50  no-repeat url(../img/ic-certificate.png);
    background-position: 50%;
}
.ic-user {
	background: #4caf50  no-repeat url(../img/ic-user.png);
	background-position: 50%;
}
.footer {
	background: #4caf50;
	width: 100%;
	height: 50px;
    text-align: right;
    padding-top: 15px;
}
.footer a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	list-style: none;
	}